html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: 'gt-super';
  src: url("../assets/fonts/gt-super-display-medium.woff2");
}

@font-face {
  font-family: 'quicksand-light';
  src: url("../assets/fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: 'quicksand-regular';
  src: url("../assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: 'quicksand-medium';
  src: url("../assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: 'quicksand-semi';
  src: url("../assets/fonts/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: 'quicksand-bold';
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}

.f-gt {
  font-family: 'gt-super';
}

.f-light {
  font-family: 'quicksand-light';
}

.f-regular {
  font-family: 'quicksand-regular';
}

.f-medium {
  font-family: 'quicksand-medium';
}

.f-semi {
  font-family: 'quicksand-semi';
}

.f-bold {
  font-family: 'quicksand-bold';
}

p {
  font-family: 'quicksand-regular';
}

/* Colours */

.c-black {
  color: #333333;
}

.c-white {
  color: #FFFFFF;
}

.c-gold {
  color: #EDBA3A;
}

.c-gray {
  color: #DDDDDD;
}

.bg-white {
  background: #FFFFFF;
}

.bg-black {
  background: #333333;
}

.bg-light {
  background-color: #DDDDDD !important;
}

.bg-light-half {
  background-image: linear-gradient(to bottom,   #DDDDDD 50%,  #ffffff 50%) ;
}

.bg-gold {
  background: #EDBA3A;
}

.bg-dark {
  background: #C9C9C9;
}

* {
  color: #333333;
}

/* SIzing */
h1 {
  font-size: 3.5em;
}

h3 {
  font-family: 'gt-super';
}

.sm-text {
  font-size: 1em;
}

.sales {
  font-size: 1.12em;
}

.mid-text {
  font-size: 1.5em;
}

.xs-text {
  font-size: 0.8em;
}


/* components */
.iconify {
  height: 24px;
  width: 24px;
}

.socials a:hover .iconify{
  color: #ffffff ;
  transform: scale(1.1);
}

button {
  outline: none;
  border: none;
}

.form-control {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0;
  border-color: transparent;
}

.custom-select {
  border-color: transparent;
  border-radius: 0;
}

.form-control:focus,
.custom-select:focus {
  color: #333333;
  background-color: #7070703D !important;
  border-color: #EDBA3A;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(237, 186, 58, 0.5);
}


a.link {
  color: #333333;
  transition: 0.3s ease;
  font-weight: bold;
}

a.link:hover {
  text-decoration: none;
  color: #555555;
}


.cta-btn {
  background: #333333;
  color: #EDBA3A;
  padding: 15px 15px;
  text-decoration: none; 
  transition: all 0.3s ease; 
  text-transform: capitalize;
}

header .cta-btn {
  background: #333333;
  color: #EDBA3A;
  padding: 15px 20px;
  text-decoration: none; 
  transition: all 0.3s ease; 
  text-transform: capitalize;
}

.cta-btn:hover {
  background: #EDBA3A;
  color: #333333;
  text-decoration: none;  

}

.nav-item a.nav-link {
  color: #FFFFFF;
}

.nav-item a.nav-link:hover {
  color: #EDBA3A;
}

.footer .nav-item a.nav-link {
  color: #333333 ;
}

.footer .nav-item a.nav-link:hover {
  color: #666666;
  ;
}

.heading {
  width: fit-content;
  background: #ffffff;
  padding: 30px 60px 30px 100px;
}

.heading.ml-auto {
  padding: 30px 100px 30px 60px;
}

.line {
  height: 3px;
  width: 50px;
  background: #EDBA3A;
  margin-right: 20px;
}

.service-card {
  border: 1px solid #7070703D;
  border-radius: 5px;
  transition: 0.3s ease;
  height: 100%;
}

.service-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.pg-link {
  text-decoration: none;
  color: #333333;
  background-image: linear-gradient(to bottom, #EDBA3A29, #EDBA3A99);
  padding: 2px 3px;
  border-bottom: 1px solid #333333;
}

.pg-link:hover {
  text-decoration: none;
  background: #EDBA3A99;
  color: #333333;
}

.icons {
  height: 60px;
}

.slider, 
.slider-holder, 
.btm-slider {
  max-width: 99.5vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.client-holder img{
  height: 60px;
}
/* Custom Styling */
.nav-item .nav-link {
  position: relative;
}

header {
  transition: all 0.3s ease;
}

header.scrolled {
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}

header.scrolled .nav-item a.nav-link {
  color: #333333;
}

header.scrolled .nav-item a.nav-link:hover {
  color: #EDBA3A;
}

header .nav-item a.nav-link:after {    
  background: #EDBA3A;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header .nav-item a.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

.hero-area{
  background: url('../assets/icons/hero\ bg.png');
  background-size: 50% 100% ;
  background-position-x: right;
  background-repeat: no-repeat;
  min-height: 80vh;
}

.quote blockquote {
  position: relative;
  border-left: 3px solid #EDBA3A;
}

.quote blockquote p {
  font-size: 1.5em;
}

.quote blockquote p:before {
  content: url("../assets/icons/quote\ sign.png");
  /* color: #c9c9c9; */
  position: absolute;
  top: -1em;
  left: -1em;
  z-index: -300;

}
footer {
  position: relative;
  z-index: 1;
}

footer .quote blockquote {
  border: none;
}

footer .quote blockquote p {
  position: relative;
  z-index: 200;
  font-size: 1.15em;
}

footer .quote blockquote p:before {
  content: none;
}

footer .quote blockquote:before {
  content: url("../assets/icons/quote\ sign.png");
  position: absolute;
  top: -1.5em;
  left: -2.5em;
  z-index: 10;
}



.title h3 {
  overflow :hidden;
  text-align: center;
  line-height: 1.6em;
  background-color: #ffffff;
}

.title h3:before {
display: block;
float: left;
margin-top: .8em; /* half the line-height */
border-top: 2px solid #EDBA3A;
width: 2.5em;
content: "";
}

/*product*/
.product{
  background-image: url("../assets/icons/hero\ bg.png");
}

.product > :not(div) {
  transition: .3s ease;
  opacity: 0;
}
.product:hover > :not(div) {
  opacity: 1;
}

.product:hover{
  background-image: linear-gradient(to bottom, 
  rgba(255,255,255,0.6), 
  rgba(255,255,255,.6)
  ),
  url("../assets/icons/hero\ bg.png");
}
/* end product*/

/* footer area*/
.footer-left{
  border-right: 1px solid #33333345;
}
/* end footer  area*/

/* Media Queries */
/* Mobile */
@media (max-width: 450px) {
  header {
    background: #FFFFFF;
  }

  .nav-item {
    /* width: fit-content; */
  }

  .nav-item a.nav-link {
    color: #333333;
  }

  button {
    outline: none !important;
  }

  #navHeader div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-area{
    background: url('../assets/icons/hero\ bg.png');
    background-size: 100% 100% ;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 80vh;
  }

  .hero-area h1,
  .hero-area p.sales {
    color: #FFFFFF;
  }

  h1 {
    font-size: 3.2em;
  }

  .heading {
    width: fit-content;
    background: #ffffff;
    padding: 20px 20px 20px 20px;
  }
  
  .heading.ml-auto {
    padding: 20px ;
  }

  h3 {
    font-size: 1.3em;
  }

  .line {
    height: 3px;
    width: 25px;
    background: #EDBA3A;
    margin-right: 20px;
  }

  .footer-left {
    border: none;

  }
}

@media (min-width: 700px) and (max-width:1000px) {
  header {
    background: #FFFFFF;
  }

  .nav-item {
    /* width: fit-content; */
  }

  .nav-item a.nav-link {
    color: #333333;
  }

  button {
    outline: none !important;
  }

  #navHeader div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-area{
    background: url('../assets/icons/hero\ bg.png');
    background-size: 100% 100% ;
    background-position-x: right;
    background-repeat: no-repeat;
    min-height: 80vh;
  }

  .hero-area h1,
  .hero-area p.sales {
    color: #FFFFFF;
  }
}

@media (min-width: 1400px) {
  .container {
      max-width: 1300px !important;
  }

}